.about_parent{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background-color:black;
}

.about_us_parent{
    width: 100%;
    height:auto;
    background-color: RGB(0,0,0);
    display: flex;
    flex-direction: column;
}

.about_us_content_parent{
    width: 90%;
    height:auto;
    margin-left: 2.5em;
}

.about_us_content1_parent{
    width: 100%;
    height: 50%;
    display: flex;
    direction: row;
    justify-content: center;
}

.about_us_content2_parent{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.about_us_content1_img_parent{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 2.5em;
}

.about_us_content1_img{
    width: 20vw;
    height: 20vw;
    max-width: 80%;
    max-height: 15em;
    background-image: url('../img/link_salon.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-right: 2em;
}

.about_us_content1_text_parent{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
    font-size: 1rem;
    margin-top: 2.5em;
    margin-left: 1em;
}

.about_us_content1_text{
    width: 80%;
    height: 14em;
    color: RGB(255, 255, 255);
    text-align: center;
}

.about_us_textblock1{
    margin-bottom: 0.7em;
}

.about_us_textblock2{
    margin-top: 0.7em;
}

.about_us_content2_text_parent{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 0.9rem;
    margin-top: 3em;
}

.about_us_content2_img_parent{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.about_us_content2_text{
    width: 100%;
    height: 14em;
    color: RGB(255, 255, 255);
    text-align: center;
}

.about_us_content2_img{
    width: 20vw;
    height: 20vw;
    max-width: 80%;
    max-height: 15em;
    background-image: url('../img/page_top.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-left: 2em;
}

.access_map_parent{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

.about_us_google_map_parent{
    width: 90%;
    height: auto;
    margin-right: 2em;
    margin-left: 2.5em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.about_us_google_map{
    width: 100%;
    height: 24rem;
    margin-top: 1em;
}

.about_us_google_map_parent p{
    color: white;
    text-align: left;
    margin-top: 1.6em;
    margin-bottom: 3em;
}


@media (min-width: 531px) and (max-width: 767px) {
    body{
        overflow-x:hidden;
    }
    .about_us_content1_text{
        font-size: 0.7rem;
    }
    .about_us_content2_text{
        font-size: 0.6rem;
        margin-right: 4em;
    }
    .page_top_circle_img_parent{
        height: 14em;
        padding-top:1em;
        padding-bottom: 1em;
    }
    .about_us_content1_img{
        width: 23vw;
        height: 23vw;
    }
    .about_us_content2_img{
        width: 22vw;
        height: 22vw;
        margin-top: 1em;
    }
    
    .about_top_img_text{
        margin-left: 2.4em;
    }

    .about_us_google_map{
        width: 90%;
    }
  }
  
  @media (min-width: 475px) and (max-width: 531px) {
    body{
        overflow-x:hidden;
    }
    .about_us_content1_text{
        font-size: 0.6rem;
    }
    .about_us_content2_text{
        font-size: 0.6rem;
        margin-right: 4em;
    }
    .about_us_content1_img{
        width: 24vw;
        height:24vw;
    }
    .about_us_content2_img{
        width: 23vw;
        height: 23vw;
        margin-right: 1em;
    }
    .about_us_google_map{
        width: 90%;
    }
  }

  @media (min-width: 400px) and (max-width: 475px) {
    body{
        overflow-x:hidden;
    }

    .about_us_title{
        font-size: 0.8rem;
    }

    .about_us_title span{
        font-size: 0.6rem;
    }

    .about_us_title_parent{
        height: 6%;
    }

    .page_top_circle_img_parent{
        height: 12em;
    }

    .about_us_content1_text{
        font-size: 0.4rem;
    }
    .about_us_content2_text{
        font-size: 0.4rem;
        margin-right: 4em;
    }
    .about_top_img_text{
        margin-left: 2.4em;
    }
    .about_us_google_map{
        width: 90%;
    }
  }

  @media (min-width: 320px) and (max-width: 400px) {
    body{
        overflow-x:hidden;
    }

    .about_us_title{
        font-size: 0.8rem;
    }

    .about_us_title span{
        font-size: 0.6rem;
    }

    .about_us_title_parent{
        height: 6%;
    }
 
    .page_top_circle_img_parent{
        height: 12em;
    }

    .about_us_content1_text{
        font-size: 0.4rem;
    }
    .about_us_content2_text{
        font-size: 0.4rem;
        margin-top: -2rem;
        margin-right: 4em;
    }
    .about_us_content1_img{
        width: 24vw;
        height:24vw;
        margin-left: 1em;
    }
    .about_us_content2_img{
        width: 23vw;
        height: 23vw;
        margin-right: 1em;
    }

    .about_top_img_text{
        margin-left: 2.4em;
    }
    .about_us_google_map{
        width: 85%;
    }
  }