.footer_parent{
    width: 100%;
    height: 4rem;
    border-top: 2px solid #ffffff;
    background-color: RGB(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy_right_text{
    color: white;
    width: 100%;
    height: auto;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .copy_right_text{
        color: white;
        width: 100%;
        height: auto;
        font-size: 0.8rem;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 384px) and (max-width: 480px) {
    .copy_right_text{
        color: white;
        width: 100%;
        height: auto;
        font-size: 0.7rem;
    }
  }

  @media (min-width: 320px) and (max-width: 384px) {
    .copy_right_text{
        color: white;
        width: 100%;
        height: auto;
        font-size: 0.65rem;
    }
  }