.menu_content_parent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:black;
}

.menu_facial_parent{
    width: 100%;
    height: auto;
}

.facial_menu_list_parent{
    width: 90%;
    height:60%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-size: 1.2rem;
}

.menu_body_parent{
    width: 100%;
    height: auto;
}

.body_menu_list_parent{
    width: 90%;
    height:60%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-size: 1.2rem;
}

.menu_foot_parent{
  width: 100%;
  height: auto;
}

.foot_menu_list_parent{
  width: 90%;
    height:60%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-size: 1.2rem;
}

.menu_reservation_btn_1_parent{
    width: 90%;
    height:12%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_reservation_btn_2_parent{
    width: 90%;
    height:12%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_reservation_btn_3_parent{
  width: 90%;
  height:12%;
  margin-right: 2em;
  margin-left: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}