.top_page_container{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

.top_page_container a{
    text-decoration: none;
}

.top_page_container a:hover{
    color: rgb(170,0,0);
}

.page_top_circle_img_parent{
    flex-direction: row;
    background-color: RGB(0,0,0);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.page_top_healing_space_parent{
    width: 100%;
    height: 16rem;
    overflow: hidden;
}

.page_top_healing_space{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

.page_top_information_parent{
    width: 100%;
    height: 50rem;
    background-color: RGB(0,0,0);
    flex-direction: column;
}

.page_top_information_address_parent{
    width: 100%;
    height: 50%;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: left;
}

.page_top_map{
    width: 50%;
    height: 80%;
}

@media (min-width: 481px) and (max-width: 767px) {
  
    .page_top_information_text1{
      font-size: 2rem;
  }
  
    .page_top_information_text2{
      font-size: 0.7rem;
    }
    
    .page_top_information_address_parent{
      margin-top: -1em;
    }
  
    .page_top_information_parent{
      height: 37rem;
    }
      
  }
    
   
   @media (min-width: 384px) and (max-width: 480px) {
      
    .page_top_information_text1{
        font-size: 1.4rem;
    }

    .page_top_information_text2{
      font-size: 0.6rem;
    }
      
    .page_top_information_address_parent{
      margin-top: -3em;
    }
  
    .page_top_information_parent{
      height: 26rem;
    }
  
    .page_top_img_parent{
      height: 20em;
    }
    .page_top_map{
      margin-top: 5.5em;
    }
  }
  
  @media (min-width: 320px) and (max-width: 384px) {
      
  .page_top_information_text1{
      font-size: 1.4rem;
  }

  .page_top_information_text2{
    font-size: 0.5rem;
  }
    
  .page_top_information_address_parent{
    margin-top: -3em;
    
  }
  
  .page_top_information_parent{
    height: 22rem;
  }
  
  .page_top_img_parent{
  height: 20em;
  }

  .page_top_map{
    margin-top: 5.5em;
  }

  }