.top_page_container{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

.top_page_container a{
    text-decoration: none;
}

.top_page_container a:hover{
    color: rgb(170,0,0);
}

.page_top_img_parent{
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url('../img/top.jpg');
    width: 100%;
    height: 28em;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.page_top_img_text{
    flex-direction: column;
    margin-right: 2rem;
    font-size: 2.7rem;
    color: white;
}

.page_top_img_text span{
    display:block;
    font-size: 1rem;
    color: #e4bc2e;
}

.page_top_circle_img_parent{
    flex-direction: row;
    background-color: RGB(0,0,0);
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle_img_salon{
    width: 30%;
    height: 15em;
    background-image: url('../img/link_salon.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-left: 1em;
}

.circle_img_salon_filter{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img_salon_filter:hover{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img_menu{
    width: 30%;
    height: 15em;
    background-image: url('../img/link_menu.jpg');
    background-size: cover;
    border-radius: 50%;
}

.circle_img_menu_filter{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img_menu_filter:hover{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img_note{
    width: 30%;
    height: 15em;
    background-image: url('../img/link_notes.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-right: 1em;
}

.circle_img_note_filter{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img_note_filter:hover{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img_salon_text a{
    font-size: 3rem;
    color: white;
}

.circle_img_menu_text a{
    font-size: 3rem;
    color: white;
}

.circle_img_note_text a{
    font-size: 3rem;
    color: white;
}

.page_top_healing_space_parent{
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.page_top_healing_space{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

.page_top_information_parent{
    width: 100%;
    height: 50rem;
    background-color: RGB(0,0,0);
    flex-direction: column;
}

.page_top_information_reservation{
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.page_top_information_text1{
    color: rgb(255,255,255);
    margin-top: 1em;
    font-size: 3rem;
}

.page_top_information_text2{
    color: rgb(255,255,255);
    margin-top: 1em;
    font-size: 1rem;
}

.info_reservation_btn{
    margin-top: 4em;
    width: 40%;
    height:auto;
    border-radius: 50px;
    background-color: RGB(153,0,0);
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}

.info_reservation_btn:hover{
    background-color: rgb(200,0,0);
}

.page_top_information_address_parent{
    width: 100%;
    height: 50%;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: left;
}

.page_top_information_address{
    width: 50%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: 2em;
    margin-top: 8em;
}

.page_top_information_company_name{
    color: white;
    font-size: 1.5rem;
}

.page_top_information_address hr {
    width: 85%;
    height: 1px;
    margin-left: -1px;
    background-color:white;
    border: none;
}

.page_top_information_company_address1{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_address2{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_hours1{
    color: white;
    font-size: 1em;
}

.page_top_information_company_hours2{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_tel{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_tel span{
    color: white;
    font-size: 1.5rem;
}

.page_top_map{
    width: 50%;
    height: 80%;
}