.page_top_information_address{
    width: 50%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: 2em;
    margin-top: 8em;
}

.page_top_information_company_name{
    color: white;
    font-size: 1.5rem;
}

.page_top_information_address hr {
    width: 85%;
    height: 1px;
    margin-left: -1px;
    background-color:white;
    border: none;
}

.page_top_information_company_address1{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_address2{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_hours1{
    color: white;
    font-size: 1em;
}

.page_top_information_company_hours2{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_tel{
    color: white;
    font-size: 1rem;
}

.page_top_information_company_tel span{
    color: white;
    font-size: 1.5rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .page_top_information_company_name{
    font-size: 0.8rem;
    }
  
  .page_top_information_company_address1{
    font-size: 0.75rem;
    }
  
  .page_top_information_company_address2{
    font-size: 0.75rem;
    }
  
  .page_top_information_company_hours1{
  font-size: 0.8rem;
    }
  
  .page_top_information_company_hours2{
  color: white;
  font-size: 0.8rem;
    }
  
  .page_top_information_company_tel{
  color: white;
  font-size: 0.8rem;
    }
  
  .page_top_information_company_tel span{
  color: white;
  font-size: 1rem;
    }
      
  }
    
@media (min-width: 384px) and (max-width: 480px) {
      
      .page_top_information_company_name{
        color: white;
        font-size: 0.7rem;
      }
  
      .page_top_information_company_address1{
        color: white;
        font-size: 0.6rem;
      }
    
    .page_top_information_company_address2{
        color: white;
        font-size: 0.6rem;
      }
  
    .page_top_information_company_hours1{
      color: white;
      font-size: 0.6rem;
      }
  
  .page_top_information_company_hours2{
      color: white;
      font-size: 0.6rem;
      }
  
  .page_top_information_company_tel{
      color: white;
      font-size: 0.7rem;
      }
  
  .page_top_information_company_tel span{
      color: white;
      font-size: 1rem;
      }
  }
  
  @media (min-width: 320px) and (max-width: 384px) {
      
    .page_top_information_company_name{
      color: white;
      font-size: 0.6rem;
    }
  
    .page_top_information_company_address1{
      color: white;
      font-size: 0.48rem;
    }
  
  .page_top_information_company_address2{
      color: white;
      font-size: 0.48rem;
    }
  
  .page_top_information_company_hours1{
    color: white;
    font-size: 0.48rem;
    }
  
  .page_top_information_company_hours2{
    color: white;
    font-size: 0.48rem;
    }
  
  .page_top_information_company_tel{
    color: white;
    font-size: 0.6rem;
    }
  
  .page_top_information_company_tel span{
    color: white;
    font-size: 0.8rem;
    }
  
  }