.page_top_img_parent{
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url('../../../img/top.jpg');
    width: 100%;
    max-height: 35em;
    height: 55vw;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}

.page_top_img_text{
    flex-direction: column;
    margin-right: 2rem;
    font-size: 2.7rem;
    color: white;
}

.page_top_img_text span{
    display:block;
    font-size: 0.9rem;
    color: #e4bc2e;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .page_top_img_text{
    flex-direction: column;
    margin-right: 1rem;
    font-size: 2rem;
    color: white;
    }
  
  .page_top_img_text span{
    display:block;
    font-size: 0.8rem;
    color: #e4bc2e;
    }
      
  }
    
@media (min-width: 384px) and (max-width: 480px) {
      
      .page_top_img_text{
        flex-direction: column;
        margin-right: 1rem;
        font-size: 1.7rem;
        color: white;
      }
  
      .page_top_img_text span{
        display:block;
        font-size: 0.6rem;
        color: #e4bc2e;
      }
  }
  
  @media (min-width: 320px) and (max-width: 384px) {
        
    .page_top_img_text{
      flex-direction: column;
      margin-right: 1rem;
      font-size: 1.5rem;
      color: white;
    }
  
    .page_top_img_text span{
      display:block;
      font-size: 0.6rem;
      color: #e4bc2e;
    }

  }