.menu_content_parent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:black;
}

.menu_top_img_parent{
    width: 100%;
    height: 28rem;
    background-image: url('../img/page_top.jpg');
    background-size: cover;
}

.menu_top_img_text{
    color: white;
    font-size: 2.5rem;
    margin-left: 3.2em;
}

.menu_top_img_filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu_facial_parent{
    width: 100%;
    height: 36rem;
}

.facial_menu_title_parent{
    width: 90%;
    height:10%;
    background-color: RGB(0,0,0);
    border-bottom: 1px solid rgb(173,0,0);
    margin-right: 2em;
    margin-left: 2em;
}

.facial_menu_title{
    color: rgb(255,255,255);
    margin-top: 1.2em;
    font-size: 1.6rem;
    text-align: left;
}

.facial_menu_title span{
    margin-left: 2em;
    font-size: 1.2rem;
}

.facial_menu_text_parent{
    width: 90%;
    height:10%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.facial_menu_text1{
    color: white;
    text-align: left;
    padding-top: 2em;
    font-size: 1.1rem;
}

.facial_menu_list_parent{
    width: 90%;
    height:60%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-size: 1.2rem;
}

.smaller_facial_parent{
    width: 100%;
    height: 33.333%;
    border-bottom: dashed 1px white;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.smaller_adjustment_parent{
    width: 100%;
    height: 33.333%;
    border-bottom: dashed 1px white;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.prasma_shower_parent{
    width: 100%;
    height: 33.333%;
    border-bottom: dashed 1px white;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.smaller_facial_title{
    color: white;
    font-size: 1.3rem;
}

.smaller_facial_price_list_parent{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.smaller_facial_price1{
    color: white;
    text-align: right;
}
.smaller_facial_price1 span{
    margin-left: 2em;
}
.smaller_facial_price2{
    color: white;
    text-align: right;
}
.smaller_facial_price2 span{
    margin-left: 2em;
}
.smaller_facial_price3{
    color: white;
    text-align: right;
}
.smaller_facial_price3 span{
    margin-left: 2em;
}

.smaller_adjustment_title{
    color: white;
    font-size: 1.3rem;
    margin-top: 0.6em;
}
.smaller_adjustment_price_list_parent{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}
.smaller_adjustment_price1{
    color: white;
    text-align: right;
}
.smaller_adjustment_price1 span{
    margin-left: 2.6em;
}
.smaller_adjustment_price2{
    color: white;
    text-align: right;
}
.smaller_adjustment_price2 span{
    margin-left: 2em;
}

.prasma_shower_title{
    color: white;
    font-size: 1.3rem;
    margin-top: 0.6em;
}
.prasma_shower_price_list_parent{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}
.prasma_shower_price1{
    color: white;
    text-align: right;
}
.prasma_shower_price1 span{
    margin-left: 2.6em;
}
.prasma_shower_price2{
    color: white;
    text-align: right;
}
.prasma_shower_price2 span{
    margin-left: 2em;
}
.menu_reservation_btn_1_parent{
    width: 90%;
    height:12%;
    margin-right: 2em;
    margin-left: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_reservation_btn1{
    width: 30%;
    height:auto;
    border-radius: 50px;
    background-color: RGB(173,0,0);
    color: white;
    margin-top: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}
.menu_reservation_btn1:hover{
    background-color: RGB(200,0,0);
}

.menu_body_parent{
    width: 100%;
    height: 36rem;
    margin-top: 3rem;
}

.body_menu_title_parent{
    width: 90%;
    height:10%;
    background-color: RGB(0,0,0);
    border-bottom: 1px solid rgb(173,0,0);
    margin-right: 2em;
    margin-left: 2em;
}

.body_menu_title{
    color: rgb(255,255,255);
    margin-top: 1.2em;
    font-size: 1.6rem;
    text-align: left;
}

.body_menu_title span{
    margin-left: 2em;
    font-size: 1.2rem;
}