.notes_description{
    width: 90%;
    height: auto;
    color: white;
    text-align: left;
    font-size: 0.85rem;
    margin-right: 2em;
    margin-left: 2.7em;
    margin-top: 1em;
}

.notes_caution_parent{
    width: 90%;
    height: auto;
    color: white;
    text-align: left;
    font-size: 0.85rem;
    margin-right: 2em;
    margin-left: 2.7em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.notes_caution_title{
    font-size: 1.1rem;
}

.notes_caution_list{
    color: white;
    margin-left: 1.6em;
    margin-top: 0.3em;
}

.notes_caution_list li{
    font-size: 0.85rem;
    list-style-type: none;
}

.notes_caution_list li:before{
    content: '';
	width: .3em;
	height: .3em;
	display: inline-block;
	border-radius: 100%;
	background: white;
	position: relative;
	left: -0.5em;
	top: -0.2em;
}

.notes_caution_list span{
    color: rgb(173, 0, 0);
}

.notes_caution_description{
    font-size: 0.8rem;
    color: rgb(173, 0, 0);
    margin-top: 0.5em;
    margin-left: 0.7em;
}

.caution3_text{
    font-size: 0.85rem;
    margin-left: 1em;
    margin-top: 0.5em;
}

.caution3_text2{
    font-size: 0.85rem;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

@media (min-width: 690px) and (max-width: 768px) {
    .notes_description{
        font-size: 0.7rem;
        margin-left: 3.5em;
    }
    .notes_caution_list li{
        font-size: 0.7rem;
    }
    .notes_caution_description{
        font-size: 0.65rem;
    }
    .caution3_text{
        font-size: 0.65rem;
    }
    .caution3_text2{
        font-size: 0.65rem;
    }
  }

@media (min-width: 603px) and (max-width: 690px) {
    .notes_description{
        font-size: 0.65rem;
        margin-left: 3.7em;
    }
    .notes_caution_list li{
        font-size: 0.65rem;
    }
    .notes_caution_description{
        font-size: 0.6rem;
    }
    .caution3_text{
        font-size: 0.65rem;
    }
    .caution3_text2{
        font-size: 0.65rem;
    }
  }
  
  @media (min-width: 550px) and (max-width: 603px) {
    .notes_description{
        font-size: 0.6rem;
        margin-left: 4em;
    }
    .notes_caution_list li{
        font-size: 0.6rem;
    }
    .notes_caution_description{
        font-size: 0.55rem;
    }
    .caution3_text{
        font-size: 0.6rem;
    }
    .caution3_text2{
        font-size: 0.6rem;
    }
  }
  
  @media (min-width: 481px) and (max-width: 550px) {
      .notes_description{
          font-size: 0.52rem;
          margin-left: 4.7em;
      }
      .notes_caution_list li{
        font-size: 0.52rem;
    }
    .notes_caution_description{
        font-size: 0.5rem;
    }
    .caution3_text{
        font-size: 0.52rem;
    }
    .caution3_text2{
        font-size: 0.52rem;
    }
    }
     
    @media (min-width: 450px) and (max-width: 480px) {
      .notes_description{
          font-size: 0.48rem;
          margin-left: 5em;
      }
      .notes_caution_list li{
        font-size: 0.4rem;
    }
    .notes_caution_description{
        font-size: 0.37rem;
    }
    .caution3_text{
        font-size: 0.48rem;
    }
    .caution3_text2{
        font-size: 0.4rem;
    }
    }
  
    @media (min-width: 408px) and (max-width: 450px) {
      .notes_description{
          font-size: 0.4rem;
          margin-left: 5.3em;
      }
      .notes_caution_list li{
        font-size: 0.4rem;
    }
    .notes_caution_description{
        font-size: 0.37rem;
    }
    .caution3_text{
        font-size: 0.45rem;
    }
    .caution3_text2{
        font-size: 0.4rem;
    }
    }
  
    @media (min-width: 391px) and (max-width: 408px) {
      .notes_description{
          font-size: 0.4rem;
          margin-left: 6em;
      }
      .notes_caution_list li{
        font-size: 0.4rem;
    }
    .notes_caution_description{
        font-size: 0.37rem;
    }
    .caution3_text{
        font-size: 0.4rem;
    }
    .caution3_text2{
        font-size: 0.4rem;
    }
    }
  
    @media (min-width: 348px) and (max-width: 391px) {
      .notes_description{
          font-size: 0.38rem;
          margin-left: 6.2em;
      }
      .notes_caution_list li{
        font-size: 0.38rem;
    }
    .notes_caution_description{
        font-size: 0.35rem;
    }
    .caution3_text{
        font-size: 0.38rem;
    }
    .caution3_text2{
        font-size: 0.38rem;
    }
    }
  
    @media (min-width: 320px) and (max-width: 348px) {
      .notes_description{
          font-size: 0.35rem;
          margin-left: 6.7em;
      }
      .notes_caution_list li{
        font-size: 0.35rem;
    }
    .notes_caution_description{
        font-size: 0.33rem;
    }
    .caution3_text{
        font-size: 0.35rem;
    }
    .caution3_text2{
        font-size: 0.35rem;
    }
    }