/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 531px) and (max-width: 767px) {
    body{
        overflow-x:hidden;
    }
    .about_us_content1_text{
        font-size: 0.7rem;
    }
    .about_us_content2_text{
        font-size: 0.6rem;
        margin-right: 4em;
    }
    .page_top_circle_img_parent{
        height: 14em;
        padding-top:1em;
        padding-bottom: 1em;
    }
    .about_us_content1_img{
        width: 23vw;
        height: 23vw;
    }
    .about_us_content2_img{
        width: 22vw;
        height: 22vw;
        margin-top: 1em;
    }
    
    .about_top_img_text{
        margin-left: 2.4em;
    }
    
    .about_us_google_map{
        width: 90%;
        height: 50%;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 475px) and (max-width: 531px) {
    body{
        overflow-x:hidden;
    }

    .about_us_content1_text{
        font-size: 0.6rem;
    }
    .about_us_content2_text{
        font-size: 0.6rem;
      
        margin-right: 4em;
    }
    .about_us_content1_img{
        width: 24vw;
        height:24vw;
    }
    .about_us_content2_img{
        width: 23vw;
        height: 23vw;
        margin-right: 1em;
    }

    .about_us_google_map{
        width: 90%;
        height: 70%;
    }

    .about_top_img_text{
        margin-left: 2.4em;
    }
    .page_top_healing_space_parent{
        height: 16rem;
        overflow: hidden;
    }
  }

  @media (min-width: 400px) and (max-width: 475px) {
    body{
        overflow-x:hidden;
    }

    .about_us_title{
        font-size: 0.8rem;
    }

    .about_us_title span{
        font-size: 0.6rem;
    }

    .about_us_title_parent{
        height: 6%;
    }

    .page_top_circle_img_parent{
        height: 12em;
    }

    .about_us_content1_text{
        font-size: 0.4rem;
    }
    .about_us_content2_text{
        font-size: 0.4rem;
        margin-right: 4em;
    }
    .about_us_content1_img{
        width: 24vw;
        height:24vw;
        margin-left: 1em;
    }
    .about_us_content2_img{
        width: 23vw;
        height: 23vw;
        margin-right: 1em;
    }

    .about_top_img_text{
        margin-left: 2.4em;
    }
    .page_top_healing_space_parent{
        height: 16rem;
        overflow: hidden;
    }
    .access_map_title{
        font-size: 0.8rem;
    }
    .access_map_title span{
        font-size: 0.6rem;
    }
    .access_map_title_parent{
        height: 8%;
    }
  }

  @media (min-width: 320px) and (max-width: 400px) {
    body{
        overflow-x:hidden;
    }

    .about_us_title{
        font-size: 0.8rem;
    }

    .about_us_title span{
        font-size: 0.6rem;
    }

    .about_us_title_parent{
        height: 6%;
    }
 
    .page_top_circle_img_parent{
        height: 12em;
    }

    .about_us_content1_text{
        font-size: 0.4rem;
    }
    .about_us_content2_text{
        font-size: 0.4rem;
        margin-top: -2rem;
        margin-right: 4em;
    }
    .about_us_content1_img{
        width: 24vw;
        height:24vw;
        margin-left: 1em;
    }
    .about_us_content2_img{
        width: 23vw;
        height: 23vw;
        margin-right: 1em;
    }

    

    .about_us_google_map{
        width: 90%;
        height: 70%;
    }

    .about_top_img_text{
        margin-left: 2.4em;
    }
    .page_top_healing_space_parent{
        height: 16rem;
        overflow: hidden;
    }
    .access_map_title{
        font-size: 0.8rem;
    }
    .access_map_title span{
        font-size: 0.6rem;
    }
    .access_map_title_parent{
        height: 8%;
    }
  }