/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .header_menu_bar{
        justify-content: right;
        margin-right: 3em;
    }
    
    .hamburger{
        display: block;
        margin-right: 4em;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        opacity: 0;
        transform: translateY(8px) rotateY(45deg)
    }
    .hamburger.active .bar:nth-child(3){
        opacity: 0;
        transform: translateY(-8px) rotateY(-45deg)
    }
    .nav_menu{
        position: fixed;
        Left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

    .header_menu_bar{
        justify-content: right;
    }

    .hamburger{
        display: block;
        margin-right: 4em;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        opacity: 0;
        transform: translateY(8px) rotateY(45deg)
    }
    .hamburger.active .bar:nth-child(3){
        opacity: 0;
        transform: translateY(-8px) rotateY(-45deg)
    }
    .nav_menu{
        position: fixed;
        Left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
  }