/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.7rem;
        padding-top: 2em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.8rem;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 450px) and (max-width: 480px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.65rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1em;
    }
  }

  @media (min-width: 408px) and (max-width: 450px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.6rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.7rem;
      margin-right: 1em;
    }
  }

  @media (min-width: 391px) and (max-width: 408px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.55rem;
        padding-top: 0.5em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.7rem;
      margin-right: 1em;
    }
  }

  @media (min-width: 348px) and (max-width: 391px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.5rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.62rem;
      margin-right: 1.5em;
      margin-top: 0.5em;
    }
  }

  @media (min-width: 320px) and (max-width: 348px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.48rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.58rem;
      margin-right: 1.5em;
      margin-top: 0.5em;
    }
  }