@media (min-width: 603px) and (max-width: 768px) {
  body{
      overflow-x:hidden;
  }
  .facial_menu_text1{
      font-size: 0.9rem;
      padding-top: 2em;
  }
  .smaller_facial_price_list_parent{
    font-size: 0.95rem;
    margin-right: 1.5em;
    margin-top: 2.5em;
  }
  .smaller_adjustment_price_list_parent{
    font-size: 0.95rem;
    margin-right: 1.5em;
    margin-top: 2.5em;
  }
  .prasma_shower_price_list_parent{
    font-size: 0.95rem;
    margin-right: 1.5em;
    margin-top: 2.5em;
  }
}

@media (min-width: 550px) and (max-width: 603px) {
  body{
      overflow-x:hidden;
  }
  .facial_menu_text1{
      font-size: 0.8rem;
      padding-top: 2em;
  }
  .smaller_facial_price_list_parent{
    font-size: 0.9rem;
    margin-right: 1.5em;
    margin-top: 2.8em;
  }
  .smaller_adjustment_price_list_parent{
    font-size: 0.9rem;
    margin-right: 1.5em;
    margin-top: 2.8em;
  }
  .prasma_shower_price_list_parent{
    font-size: 0.9rem;
    margin-right: 1.5em;
    margin-top: 2.8em;
  }
}

@media (min-width: 481px) and (max-width: 550px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.7rem;
        padding-top: 2em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1.5em;
      margin-top: 3.5em;
    }
    .smaller_adjustment_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1.5em;
      margin-top: 3.5em;
    }
    .prasma_shower_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1.5em;
      margin-top: 3.5em;
    }
  }
   
  @media (min-width: 450px) and (max-width: 480px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.65rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1.5em;
      margin-top: 3.8em;
    }
    .smaller_adjustment_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1.5em;
      margin-top: 3.8em;
    }
    .prasma_shower_price_list_parent{
      font-size: 0.8rem;
      margin-right: 1.5em;
      margin-top: 3.8em;
    }
  }

  @media (min-width: 408px) and (max-width: 450px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.6rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.7rem;
      margin-right: 1.5em;
      margin-top: 5.2em;
    }
    .smaller_adjustment_price_list_parent{
      font-size: 0.7rem;
      margin-right: 1.5em;
      margin-top: 5.2em;
    }
    .prasma_shower_price_list_parent{
      font-size: 0.7rem;
      margin-right: 1.5em;
      margin-top: 5.2em;
    }
  }

  @media (min-width: 391px) and (max-width: 408px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.55rem;
        padding-top: 0.5em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.7rem;
      margin-right: 1.5em;
      margin-top: 5em;
    }
    .smaller_adjustment_price_list_parent{
      font-size: 0.65rem;
      margin-right: 1.5em;
      margin-top: 5em;
    }
    .prasma_shower_price_list_parent{
      font-size: 0.65rem;
      margin-right: 1.5em;
      margin-top: 5em;
    }
  }

  @media (min-width: 348px) and (max-width: 391px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.5rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.62rem;
      margin-right: 1.5em;
      margin-top: 6em;
    }
    .smaller_adjustment_price_list_parent{
      font-size: 0.6rem;
      margin-right: 1.5em;
      margin-top: 6em;
    }
    .prasma_shower_price_list_parent{
      font-size: 0.6rem;
      margin-right: 1.5em;
      margin-top: 6em;
    }
  }

  @media (min-width: 320px) and (max-width: 348px) {
    body{
        overflow-x:hidden;
    }
    .facial_menu_text1{
        font-size: 0.48rem;
        padding-top: 1em;
    }
    .smaller_facial_price_list_parent{
      font-size: 0.58rem;
      margin-right: 2em;
      margin-top: 7em;
    }
    .smaller_adjustment_price_list_parent{
      font-size: 0.58rem;
      margin-right: 2em;
      margin-top: 7em;
    }
    .prasma_shower_price_list_parent{
      font-size: 0.58rem;
      margin-right: 2em;
      margin-top: 7em;
    }
  }