/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .page_top_information_text1{
    font-size: 2rem;
}

.page_top_img_text{
  flex-direction: column;
  margin-right: 1rem;
  font-size: 2rem;
  color: white;
  }

.page_top_img_text span{
  display:block;
  font-size: 0.8rem;
  color: #e4bc2e;
  }

  .circle_img_salon_text a{
    font-size: 2rem;
    }

  .circle_img_menu_text a{
    font-size: 2rem;
    }

  .circle_img_note_text a{
    font-size: 2rem;
    }

  .page_top_information_text2{
    font-size: 0.8rem;
  }

.page_top_information_company_name{
  color: white;
  font-size: 0.8rem;
  }

.page_top_information_company_address1{
  color: white;
  font-size: 0.8rem;
  }

.page_top_information_company_address2{
  color: white;
  font-size: 0.8rem;
  }

.page_top_information_company_hours1{
color: white;
font-size: 0.8rem;
  }

.page_top_information_company_hours2{
color: white;
font-size: 0.8rem;
  }

.page_top_information_company_tel{
color: white;
font-size: 0.8rem;
  }

.page_top_information_company_tel span{
color: white;
font-size: 1rem;
  }
    
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .page_top_information_text1{
        font-size: 2rem;
    }

    .page_top_img_text{
      flex-direction: column;
      margin-right: 1rem;
      font-size: 2rem;
      color: white;
    }

    .page_top_img_text span{
      display:block;
      font-size: 0.8rem;
      color: #e4bc2e;
    }

    .circle_img_salon_text a{
      font-size: 2rem;
      }
  
    .circle_img_menu_text a{
      font-size: 2rem;
      }
  
    .circle_img_note_text a{
      font-size: 2rem;
      }

    .page_top_information_text2{
      font-size: 0.8rem;
    }
    
    .page_top_information_company_name{
      color: white;
      font-size: 0.8rem;
    }

    .page_top_information_company_address1{
      color: white;
      font-size: 0.8rem;
    }
  
  .page_top_information_company_address2{
      color: white;
      font-size: 0.8rem;
    }

  .page_top_information_company_hours1{
    color: white;
    font-size: 0.8rem;
    }

.page_top_information_company_hours2{
    color: white;
    font-size: 0.8rem;
    }

.page_top_information_company_tel{
    color: white;
    font-size: 0.8rem;
    }

.page_top_information_company_tel span{
    color: white;
    font-size: 1rem;
    }

}