/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .header_menu_bar{
        justify-content: right;
    }

    .hamburger{
        display: block;
        margin-right: 4em;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        opacity: 0;
        transform: translateY(8px) rotateY(45deg)
    }
    .hamburger.active .bar:nth-child(3){
        opacity: 0;
        transform: translateY(-8px) rotateY(-45deg)
    }
    .nav_menu{
        position: fixed;
        Left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav_item {
        margin: 16px 0;
    }

    .nav_menu.active {
        Left: 0;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .header_menu_bar{
        justify-content: right;
    }

    .hamburger{
        display: block;
        margin-right: 4em;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        opacity: 0;
        transform: translateY(8px) rotateY(45deg)
    }
    .hamburger.active .bar:nth-child(3){
        opacity: 0;
        transform: translateY(-8px) rotateY(-45deg)
    }
    .nav_menu{
        position: fixed;
        Left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav_item {
        margin: 16px 0;
    }

    .nav_menu.active {
        Left: 0;
    }

  }
  