.page_top_information_reservation{
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.page_top_information_text1{
    color: rgb(255,255,255);
    margin-top: 1em;
    font-size: 3rem;
}

.page_top_information_text2{
    color: rgb(255,255,255);
    margin-top: 1em;
    font-size: 1rem;
}

.page_top_healing_space_parent{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.page_top_healing_space{
  width: 100%;
  aspect-ratio: 3/1;
  transform: scale(1.35);
}

@media (min-width: 481px) and (max-width: 767px) {
  
    .page_top_information_text1{
      font-size: 2rem;
  }
  
    .page_top_information_text2{
      font-size: 0.7rem;
    }
    
  }
    
   
   @media (min-width: 384px) and (max-width: 480px) {
      
    .page_top_information_text1{
        font-size: 1.4rem;
    }

    .page_top_information_text2{
      font-size: 0.6rem;
    }

  }
  
  @media (min-width: 320px) and (max-width: 384px) {
      
  .page_top_information_text1{
      font-size: 1.4rem;
  }

  .page_top_information_text2{
    font-size: 0.5rem;
  }

  }