.title_parent{
    width: 90%;
    height:10%;
    background-color: RGB(0,0,0);
    border-bottom: 1px solid rgb(173,0,0);
    margin-right: 2em;
    margin-left: 2.5em;
}

.custom_title{
    color: rgb(255,255,255);
    margin-top: 1.2em;
    font-size: 1.6rem;
    text-align: left;
}

.custom_title span{
    margin-left: 2em;
    font-size: 1.2rem;
}

@media (min-width: 320px) and (max-width: 400px) {
    .custom_title{
        color: rgb(255,255,255);
        margin-top: 1.2em;
        font-size: 1.2rem;
        text-align: left;
    }
    
    .custom_title span{
        margin-left: 2em;
        font-size: 0.8rem;
    }
  }

